* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(181, 193, 246, 0.1490196078);
}

.food__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food__item {
  max-width: 900px;
  color: rgb(17, 16, 16);
  font-family: Futura PT;
  font-size: 20px;
}

.food__btn {
  color: white;
  font-size: 16px;
  background: rgb(255, 122, 80);
  padding: 10px 12px;
  border-radius: 5px;
}

.food__img {
  max-width: 300px;
  font-size: 20px;
}

@media screen and (max-width: 910px) {
  .food__item {
    max-width: 875px;
    font-size: 15px;
  }
  .food__img {
    max-width: 275px;
    font-size: 15px;
  }
}
@media screen and (max-width: 676px) {
  .food__item {
    max-width: 855px;
    font-size: 10px;
  }
  .food__img {
    max-width: 255px;
    font-size: 10px;
  }
}
@media screen and (max-width: 678px) {
  .food__item {
    display: none;
  }
}
.fastfood__list {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fastfood__img {
  max-width: 400px;
}

.fastfood__title {
  font-family: Rubik;
  font-size: 66px;
  margin-bottom: 23px;
  margin-top: 45px;
}

.fastfood__text {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 20px;
  margin-bottom: 27px;
}

.fastfood__btn {
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 20px;
  padding: 10px 15px;
  background: rgb(255, 122, 80);
  margin-right: 7px;
  border-radius: 5px;
}

.fastfood__link {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 20px;
}

@media screen and (max-width: 838px) {
  .fastfood__list {
    max-width: 1000px;
    font-size: 50px;
  }
  .fastfood__img {
    max-width: 375px;
    font-size: 45px;
  }
}
@media screen and (max-width: 808px) {
  .fastfood__list {
    max-width: 975px;
    font-size: 43px;
  }
  .fastfood__img {
    max-width: 355px;
    font-size: 37px;
  }
}
@media screen and (max-width: 674px) {
  .fastfood__list {
    max-width: 855px;
    flex-direction: column;
  }
}
.our__title {
  font-family: Rubik;
  font-size: 36px;
  text-align: center;
}

.our__list {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  gap: 15px;
}

.our__item {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 25px;
  max-width: 850px;
  padding: 13px 37px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.our__item2 {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 25px;
  background: rgb(255, 122, 80);
  padding: 13px 37px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .our__item {
    max-width: 995px;
    font-size: 20px;
  }
}
@media screen and (max-width: 922px) {
  .our__item {
    max-width: 945px;
    font-size: 16px;
  }
}
@media screen and (max-width: 863px) {
  .our__item {
    max-width: 895px;
    font-size: 14px;
  }
}
@media screen and (max-width: 815px) {
  .our__item {
    max-width: 870px;
    font-size: 11px;
  }
}
@media screen and (max-width: 788px) {
  .our__item {
    max-width: 850px;
    font-size: 9px;
  }
}
@media screen and (max-width: 760px) {
  .our__item {
    max-width: 825px;
    font-size: 7px;
  }
}
@media screen and (max-width: 677px) {
  .our__list {
    max-width: 800px;
    font-size: 5px;
    flex-direction: column;
  }
  .our__title {
    font-size: 30px;
  }
  .our__item2 {
    font-size: 10px;
  }
}
.runfood__list {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
}

.runfood__img {
  max-width: 144px;
  font-size: 18px;
  margin-bottom: 25px;
}

.runfood__item {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 20px;
}

.runfood__btn {
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 15px;
  border-radius: 5px;
  background: rgb(255, 122, 80);
  padding: 7px 13px;
  margin-top: 11px;
  margin-bottom: 10px;
}

@media screen and (max-width: 746px) {
  .runfood__item {
    max-width: 975px;
    font-size: 15px;
  }
  .runfood__img {
    max-width: 125px;
    font-size: 14px;
  }
}
@media screen and (max-width: 730px) {
  .runfood__item {
    max-width: 945px;
    font-size: 13;
  }
  .runfood__img {
    max-width: 96px;
    font-size: 10px;
  }
}
@media screen and (max-width: 677px) {
  .runfood__list {
    max-width: 915px;
    flex-direction: column;
  }
}
.help__list {
  max-width: 1210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.help__img {
  max-width: 526px;
  text-align: center;
}

.help__title {
  font-family: Rubik;
  font-size: 36px;
  margin: 0 auto;
}

.help__title1 {
  font-family: Rubik;
  font-size: 36px;
  margin-bottom: 30px;
}

.help__text {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 20px;
  margin-bottom: 14px;
}

.hel__link {
  color: rgb(54, 56, 83);
  font-family: Rubik;
  font-size: 24px;
  margin-bottom: 27px;
}

.help__btn {
  color: rgb(255, 255, 255);
  font-family: Rubik;
  font-size: 20px;
  border-radius: 30px 30px 1px 30px;
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
  background: rgb(255, 122, 80);
  padding: 17px 44px;
}

@media screen and (max-width: 930px) {
  .help__list {
    max-width: 950px;
    font-size: 29px;
  }
  .help__img {
    max-width: 475px;
  }
}
@media screen and (max-width: 789px) {
  .help__list {
    max-width: 930px;
    flex-direction: column;
  }
  .help__img {
    max-width: 335px;
  }
}/*# sourceMappingURL=main.css.map */