
.our__title{
  font-family: Rubik;
font-size: 36px;
  text-align: center;
}

.our__list{
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
 
}

.our__item{
  color: rgb(54, 56, 83);
font-family: Rubik;
font-size: 20px;
max-width: 850px;
padding: 13px 37px;
background: rgb(255, 255, 255);
border-radius:5px ;
}
.our__item2{
  color: rgb(54, 56, 83);
font-family: Rubik;
font-size: 20px;
background-color: hsl(0, 91%, 62%);
padding: 13px 37px;
border-radius: 5px;
} 